<% content_for :head do %>
<%= auto_discovery_link_tag(:atom, connections_url+".atom") %>
<% end %>
<section>
  <h1>Current Activity</h1>
  <table class="activity">
    <colgroup>
      <col class="connection" />
      <col class="cred"      />
      <col class="event"    />
      <col class="time"      />
    </colgroup>
    <thead>
      <tr>
	<th>Service</th>
	<th>Client</th>
	<th>User</th>
	<th>Last Action</th>
	<th>Occured</th>
      </tr>
    </thead>
    <tbody>
      <% @conns.each do |conn| %>
      <tr>
	<td><%= link_to conn.peer, conn %></td>
	<td><%= link_to conn.server, conn %></td>
	<td><%= link_to "Credential", conn.credential %></td>
	<td><%= link_to "Event", conn.events[-1] %></td>
	<td><%= conn.last_event.created_at.to_time - conn.first_event.created_at.to_time %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
