<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "main"  %>
    <%= javascript_include_tag "prototype" %>
    <%= yield :head %>
  </head>
  <body>
    <%= render "shared/menu"  %> 
    <%= yield %> 
  </body>
</html>
